In [ ]:
#Answer 1-
"""
A database is an organized collection of structured data that is stored and managed on a computer system. Databases are used to store and retrieve information efficiently and securely. There are two main types of databases: SQL and NoSQL.

SQL databases, also known as relational databases, are structured databases that use tables with rows and columns to store data. SQL databases use structured query language (SQL) to retrieve and manipulate data. SQL databases are known for their ability to handle complex queries and transactions reliably.

NoSQL databases, on the other hand, are non-relational databases that store data in a variety of formats, such as key-value pairs, document, graph, or column-family. NoSQL databases are designed to handle large volumes of unstructured and semi-structured data and to scale horizontally. NoSQL databases are known for their ability to handle big data and high-velocity data streams.
"""

In [ ]:
#Answer 2-
"""
DDL stands for Data Definition Language. It is a set of SQL commands used to define and manipulate the structure of a database. The following are some of the most commonly used DDL commands:

CREATE :-This command is used to create new database objects such as tables, indexes, and views. 
Example -CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    age INT
);


DROP: This command is used to delete existing database objects such as tables, indexes, and views.
Example -DROP TABLE employees;


ALTER: This command is used to modify the structure of an existing database object such as a table or column
Example -ALTER TABLE employees ADD COLUMN salary DECIMAL(10,2);


TRUNCATE: This command is used to delete all data from a table
Example - TRUNCATE TABLE employees; 
"""

In [ ]:
#Answer 3-

"""
DML stands for Data Manipulation Language. It is a set of SQL commands used to modify the data stored in a database. The following are some of the most commonly used DML commands:

INSERT: This command is used to insert new data into a table. For example, the following SQL statement inserts a new row into the employees table:
Example -INSERT INTO employees (id, name, age, salary) VALUES (1, 'John Smith', 30, 50000.00);

UPDATE: This command is used to modify existing data in a table. For example, the following SQL statement updates the age and salary columns of the employees table for the row where the id is 1:
Example -UPDATE employees SET age = 31, salary = 55000.00 WHERE id = 1;

DELETE: This command is used to delete existing data from a table. For example, the following SQL statement deletes the row from the employees table where the id is 1:
Example - DELETE FROM employees WHERE id = 1;
"""

In [ ]:
#Answer 4-
"""
DQL stands for Data Query Language. It is a set of SQL commands used to query data from a database. The most commonly used DQL command is SELECT. It is used to retrieve data from one or more tables in a database. The syntax for the SELECT command is as follows:

Example - SELECT column1, column2, ... FROM table_name WHERE condition;

column1, column2, ...: The columns that you want to retrieve from the table.
table_name: The name of the table that you want to query.
condition: The condition that the data must meet to be included in the query result.
"""

In [ ]:
#Answer 5-
"""
A primary key is a column or combination of columns in a table that uniquely identifies each row in the table. It is used to enforce data integrity and ensure that there are no duplicate rows in the table. A primary key cannot contain NULL values and must be unique.

A foreign key is a column or combination of columns in a table that refers to the primary key of another table. It is used to establish a relationship between two tables in a database. A foreign key ensures that the data in the referencing table corresponds to the data in the referenced table.
"""

In [ ]:
#ANswer 6-
import mysql.connector

# establish connection
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create cursor object
mycursor = mydb.cursor()

# execute SQL query
mycursor.execute("SELECT * FROM customers")

# fetch all rows
result = mycursor.fetchall()

# print rows
for row in result:
  print(row)
"""In the above code, the mysql.connector module is used to connect to the MySQL database. The cursor() method is used to create a cursor object, which is used to execute SQL queries. The execute() method is used to execute an SQL query, and the fetchall() method is used to fetch all the rows returned by the query.
"""

In [ ]:
#Answer 7-
"""
-FROM: Specifies the tables from which data is to be retrieved.

-JOIN: Combines two or more tables into a single result set based on a specified condition.

-WHERE: Filters the rows based on a specified condition.

-GROUP BY: Groups the result set by one or more columns.

-HAVING: Filters the groups based on a specified condition.

-SELECT: Specifies the columns to be retrieved from the result set.

-ORDER BY: Sorts the result set by one or more columns.

-LIMIT: Limits the number of rows returned by the query.
"""