Answer 1-


# read_csv(): This function is used to read data from a CSV file and create a pandas DataFrame object.

import pandas as pd

df = pd.read_csv('data.csv')

# head(): This function is used to view the first few rows of a DataFrame.

import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]})

print(df.head())

# groupby(): This function is used to group data in a DataFrame based on one or more columns.

import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Alice'], 'Age': [25, 30, 35, 28], 'Salary': [50000, 60000, 70000, 55000]})

grouped_df = df.groupby('Name')['Salary'].mean()

print(grouped_df)

# pivot_table(): This function is used to create a pivot table from a DataFrame.

import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Alice'], 'Age': [25, 30, 35, 28], 'Salary': [50000, 60000, 70000, 55000]})

pivot_table = pd.pivot_table(df, values='Salary', index=['Name'], columns=['Age'], aggfunc='mean')

print(pivot_table)


# plot(): This function is used to create a visualization of the data in a DataFrame.
 
import pandas as pd
import matplotlib.pyplot as plt

df = pd.DataFrame({'Year': [2018, 2019, 2020], 'Sales': [100000, 120000, 150000]})

df.plot(x='Year', y='Sales', kind='line')

plt.show()

In [1]:
#Answer 2-

import pandas as pd

def reindex_dataframe(df):
    # Create a new index that starts from 1 and increments by 2 for each row
    new_index = pd.RangeIndex(start=1, stop=2*len(df), step=2)
    
    # Re-index the DataFrame with the new index
    df = df.reindex(new_index)
    
    return df

In [3]:
# Create a sample DataFrame object
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row
new_df = reindex_dataframe(df)

# Print the new DataFrame object
print(new_df)

     A    B    C
1  2.0  5.0  8.0
3  NaN  NaN  NaN
5  NaN  NaN  NaN

In [4]:
#Answer 3-
import pandas as pd

def calculate_sum_of_first_three_values(df):
    # Get the first three values from the 'Values' column
    first_three_values = df['Values'][:3]
    
    # Calculate the sum of the first three values
    sum_of_first_three_values = first_three_values.sum()
    
    # Print the sum to the console
    print("Sum of first three values in 'Values' column:", sum_of_first_three_values)

In [5]:
# Create a sample DataFrame object
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Calculate the sum of the first three values in the 'Values' column
calculate_sum_of_first_three_values(df)

Sum of first three values in 'Values' column: 60

In [6]:
#Answer 4-
import pandas as pd

def count_words_in_text_column(df):
    # Create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    
    return df

In [7]:
# Create a sample DataFrame object
df = pd.DataFrame({'Text': ['This is a sample text', 'Another sample text with more words']})

# Create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column
df = count_words_in_text_column(df)

# Print the updated DataFrame object
print(df)

                                  Text  Word_Count
0                This is a sample text           5
1  Another sample text with more words           6

Answer 5-
Both DataFrame.size and DataFrame.shape are attributes of a Pandas DataFrame object that provide information about the dimensions of the DataFrame, but they are different in their output and the information they provide:

DataFrame.size returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and columns in the DataFrame.

DataFrame.shape returns a tuple containing the number of rows and columns in the DataFrame, respectively.

In [9]:
# ANswer 6-
import pandas as pd

# Read the Excel file into a Pandas DataFrame object
df = pd.read_excel(#)

# Print the DataFrame
print(df)

SyntaxError: unexpected EOF while parsing (696825096.py, line 8)

In [10]:
# Answer 7-
import pandas as pd

def extract_username_from_email(df):
    # Create a new column 'Username' in df that contains only the username part of each email address
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    
    return df

In [11]:
# Create a sample DataFrame object
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com']})

# Create a new column 'Username' in df that contains only the username part of each email address
df = extract_username_from_email(df)

# Print the updated DataFrame object
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

In [12]:
#Answer 8-
import pandas as pd

def select_rows(df):
    # Select all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10
    new_df = df[(df['A'] > 5) & (df['B'] < 10)]
    
    return new_df

In [13]:
# Create a sample DataFrame object
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})

# Select all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10
new_df = select_rows(df)

# Print the selected rows
print(new_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2